#top{
    animation-name: rainbow_power_border;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rainbow_power_border {
    from{border-color: red;}
    15%{border-color: orange;}
    30%{border-color: yellow;}
    45%{border-color: green;}
    60%{border-color: blue;}
    75%{border-color: navy;}
    90%{border-color: purple;}
    to{border-color: red;}
}