html{
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
    scroll-behavior: smooth;
}
/* 글씨 색상*/
#info_card > div, #top, #nav_list > div > a{
    color: rgb(120, 120, 120);
}

/* 소스코드 스타일 - (Seti) designed by "Codye" */
pre > code.hljs{
    padding: 1.1em;
    font-family: 'Menlo';
    font-size: 1.2vw; /* 임시방편, code 내용이 overflow 되면 box width 비율 계산에 이상 생김 -> 현재 overflow 안되게만 임시 조치 한 상태임*/
    overflow: auto;
}
@media screen and (max-width:1120px){
    pre > code.hljs{
        font-size: 1.5vw;
    }
}
@media screen and (max-width:880px){
    pre > code.hljs{
        font-size: 2.3vw;
    }
}
@media screen and (min-width:1245px) {
    pre > code.hljs{
        font-size: 15px;
    }
}

/* 프로필(info) 디자인 */
#info_card > div{
    color: rgb(120, 120, 120);
    font-size: 1.3em;
}
#info_card > div > p{
    font-size: 16px;
}


/* 네비게이션(앵커) 디자인 */
.section_nav{
    overflow-y: auto;
    
    border-radius: 15px;
}
.section_nav > a{
    border-radius: 13px;

    text-decoration: none;
    font-weight: 450;
    font-size: 0.9em;
    color: black;
    background-color: rgb(242, 246, 252);
}
.section_nav > a:first-child{
    text-align: center;
}



/* 블럭 디테일 디자인 */
#main > header, #main > div{
    width: 100%;
    height: auto;

    padding-top: 1em;
    overflow: auto; /* 자식요소 마진값 부모블록 범위 인정 */
}
#main > header:first-child{
    padding-top: 0;
}

.section > h1{
    margin-bottom: 1.7em;
}
.section > h2{
    margin-bottom: 0.4em;
}
.section > hr{
    margin-bottom: 0.7em;
}
.section > p, .section > pre{
    margin-bottom: 1em;
}
.section > blockquote{
    margin-bottom: 1em;
    padding-left: 10px;
    border-left: 4px solid lightseagreen;
    color: lightslategray;
}
blockquote > a{
    margin: 0;
    padding: 0;
    color: lightslategray;
}

blockquote > code, p > code{
    background-color: lightgray;
    border-radius: 3px;
    padding: 0 2px;
}

p > blockquote{
    display: inline-block;
}