


/*
#top{
    background-color: yellowgreen;
}
#info{
    background-color: purple;
}
#main{
    background-color: lightpink;
}
#nav_list{
    background-color: lightsalmon;
}
*/

#info{
    background-color: lightgreen;
}